<div class="jumbotron">
    <h2>This is Cinema Paradiso</h2>
    <p class="lead">
        Your one destination for all the information about films.
    </p>
</div>
<ol class="breadcrumb">
  <li><a routerLink="/home">Home</a></li>
  <li class='active'>Favorites</li>
</ol>

<alert type="info" *ngIf="movies.length == 0">
  <strong>No favorites yet!</strong> Go search and add some of your favorite ones.
</alert>
<div class="wrapper" *ngFor="let movie of movies">
  <div class="product-img">
    <img [src]="'https://image.tmdb.org/t/p/w300_and_h450_bestv2'+movie.poster_path" height="220" width="147">
  </div>
  <div class="product-info">
    <div class="product-text">
        <h1>
              {{ movie.title }} 
              <span style="height: 20px;" (click)="addRemoveFav(movie)" [ngClass]="isFav(movie.id)"></span>
          </h1>
        <h2>Year: {{ movie.release_date | date }}</h2>
      <p>{{ movie.overview }} </p>
    </div>
  </div>
</div>
