<!-- <div class="jumbotron">
    <h2>This is Cinema Paradiso</h2>
    <p class="lead">
        Your one destination for all the information about films.
    </p>
</div> -->

<p-tabView>
    <p-tabPanel header="Favorite Movies" [selected]="true">
      <div class="ui-g">
          <div class="ui-g-4">Favorites</div>
          <div class="ui-g-12 ui-md-4 ui-md-offset-4 pull-right" style='text-align: right;'>
            Sort By: 
                Year    <a (click)="orderBy('release_date','asc')"><i class='glyphicon glyphicon-sort-by-attributes'></i></a>  
                        <a (click)="orderBy('release_date','desc')"><i class='glyphicon glyphicon-sort-by-attributes-alt'></i></a> | 
                Rating  <a (click)="orderBy('vote_average','asc')"><i class='glyphicon glyphicon-sort-by-attributes'></i></a> 
                        <a (click)="orderBy('vote_average','desc')"><i class='glyphicon glyphicon-sort-by-attributes-alt'></i></a> | 
                Name    <a (click)="orderBy('title','asc')"><i class='glyphicon glyphicon-sort-by-attributes'></i></a>  
                        <a (click)="orderBy('title','desc')"><i class='glyphicon glyphicon-sort-by-attributes-alt'></i></a>
          </div>
      </div>

        <alert type="info" *ngIf="(movies == null) || (movies.length == 0)">
          <strong>No favorites yet!</strong> Search and add some of your favorite movies.
        </alert>
        <div class="wrapper" *ngFor="let movie of movies">
          <div class="product-img">
            <img [src]="'https://image.tmdb.org/t/p/w300_and_h450_bestv2'+movie.poster_path" height="220" width="147">
          </div>
          <div class="product-info">
            <div class="product-text">
                <h1>{{ movie.title }}</h1>
                <div class='block2'><span style="height: 20px;" (click)="addRemoveFav(movie)" [ngClass]="isFav(movie.id)"></span></div>                    
                <template #popTemplate>
                  <table style='width:100%;'>
                    <tr>
                      <td>Original Title</td>
                      <td>: {{ movie.original_title }}</td>
                    <tr>
                    <tr>
                      <td>Votes</td>
                      <td>: {{ movie.vote_count }}</td>
                    <tr>
                    <tr>
                      <td>Rating</td>
                      <td>: {{ movie.vote_average }}</td>
                    <tr>
                    <tr>
                      <td>Language</td>
                      <td>: {{ movie.original_language }}</td>
                    <tr>
                  </table>
                </template>
                <h2>
                Year: {{ movie.release_date | date }}
                </h2>
                <a [popover]="popTemplate" popoverTitle="Details" placement="bottom" [outsideClick]="true"> View Details </a>          
              <p>{{ movie.overview }} </p>
            </div>
            <a style='float:right;' 
            [popover]="popTemplate2" popoverTitle="Plot" placement="left" [outsideClick]="true"
            type="info" 
            *ngIf="movie.overview?.length > 422">
              Read More..
            </a>
            <template #popTemplate2>
              {{ movie.overview }}
            </template>         
          </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Favorite Music">
      <div class="ui-g">
          <div class="ui-g-4">Favorites</div>
          <div class="ui-g-12 ui-md-4 ui-md-offset-4 pull-right" style='text-align: right;'>
          </div>
      </div>    
      <alert type="info" *ngIf="(musics == null) || (musics.length == 0)">
        <strong>No favorites yet!</strong> Search and add some of your favorite tracks.
      </alert>    
      <div class="wrapperMusic" *ngFor="let track of musics">
        <div class="track-img">
          <img [src]="track.artworkUrl100" height="60" width="60">
        </div>
        <div class="track-info">
          <div class="track-text">
              <h1>{{ track.trackName }} </h1>
              <div class='block2'>Duration: {{ msToTime(track.trackTimeMillis)  }} <span href='#' (click)="addRemoveFavMusic(track)" [ngClass]="isFavMusic(track.trackId)"></span></div>

              <h2>Artist: {{ track.artistName }} </h2>
              <h2>Genre: {{ track.primaryGenreName  }} </h2>
              <h2>Released: {{ track.releaseDate | date }} </h2>
          </div>     
        </div>
      </div>
    </p-tabPanel>
</p-tabView>
