<div class="jumbotron">
  <div class="input-group">
    <input placeholder='Search Movies' #searchBox id="search-box"  />
    <label class="btn btn-primary" (click)="search(searchBox.value)">Search 
      <i [ngClass]="loadingIndicator ? 'fa fa-spinner fa-spin' : 'fa fa-search'"></i>
    </label>
  </div>
</div>
<alert type="info" *ngIf="(movies | async)?.length == 0">
  <strong>No Matches Found!</strong>
</alert>
  <div *ngIf="loadingIndicator" style='text-align:center'><i class='fa fa-spinner fa-spin'></i></div>

  <div class="wrapper" *ngFor="let movie of movies | async">
    <div class="product-img">
      <img [src]="'https://image.tmdb.org/t/p/w300_and_h450_bestv2'+movie.poster_path" height="220" width="147">
    </div>
    <div class="product-info">
      <div class="product-text">
        	<h1>{{ movie.title }} <span href='#' style="height: 20px;" (click)="addRemoveFav(movie)" [ngClass]="isFav(movie.id)"></span></h1>
	        <template #popTemplate>
            <table style='width:100%;'>
              <tr>
                <td>Original Title</td>
                <td>: {{ movie.original_title }}</td>
              <tr>
              <tr>
                <td>Votes</td>
                <td>: {{ movie.vote_count }}</td>
              <tr>
              <tr>
                <td>Rating</td>
                <td>: {{ movie.vote_average }}</td>
              <tr>
              <tr>
                <td>Language</td>
                <td>: {{ movie.original_language }}</td>
              <tr>
            </table>
          </template>
          <h2>
          Year: {{ movie.release_date | date }}
          </h2>
          <a [popover]="popTemplate" popoverTitle="Details" placement="bottom" [outsideClick]="true"> View Details </a>          
        <p>{{ movie.overview }} </p>
      </div>
      <a style='float:right;' 
      [popover]="popTemplate2" popoverTitle="Plot" placement="left" [outsideClick]="true"
      type="info" 
      *ngIf="movie.overview?.length > 422">
        Read More..
      </a>
      <template #popTemplate2>
        {{ movie.overview }}
      </template>      
    </div>
  </div>