/* You can add global styles to this file, and also import other style files */


/* Space out content a bit */

body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-right: 1rem;
    padding-left: 1rem;
}


/* Custom page header */

.header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
}


/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 5px;
    margin-bottom: 0;
    line-height: 3rem;
}


/* Custom page footer */

.footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
}

.container-narrow>hr {
    margin: 2rem 0;
}



.jumbotron {
    border-bottom: .05rem solid #e5e5e5;
    padding: 20px 60px 20px 60px !important;
}
.jumbotron h4 {
    text-align: center;
}

.jumbotron .btn {
    padding: .25rem .5rem;
    font-size: 1.5rem;
    margin-bottom: 3px;
    margin-left: 3px;
}


/* Supporting marketing content */

.marketing {
    margin: 3rem 0;
}

.marketing p+h4 {
    margin-top: 1.5rem;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 48em) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 2rem;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
.wrapper {
  height: 220px;
  width: 556px;
  float: left;
  margin: 10px 0 0 10px;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
  float: left;
  height: 220px;
  width: 147px;
}

.product-img img {
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 220px;
  width: 409px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text {
  height: 200px;
  width: 409px;
  float:left;
  position: relative;
}
.product-text-head {
  width: 80%;
  float:left;
}
.product-text-fav {
  width: 20%;
  float:left;
}

.product-text h1 {
  margin: 0 0 0 18px;
  padding-top: 5px;
  font-size: 13px;
  color: #474747;
  display: block;
}

.product-text h1,
.product-price-btn p {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.product-text h2 {
  margin: 0 0 5px 18px;
  font-size: 12px;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #696969;
}

.product-text p {
  height: 140px;
  margin: 8px 0 0 8px;
  font-family: 'Playfair Display', serif;
  color: #696969;
  line-height: 1.7em;
  font-size: 12px;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 17px;
  position: relative;
}

.product-price-btn p {
  display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;
  font-family: 'Trocchi', serif;
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747;
}



.product-price-btn button {
  display: inline-block;
  height: 50px;
  width: 176px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: #79b0a1;
}
.star {
  font-size: 18px;
	color:gold;
}

.heart {
  font-size: 18px;
	color:red;
}
.toast-message {
    word-wrap: break-word;
    font-size: 14px !important;
    font-family: 'Raleway', sans-serif !important;
    height: 30px !important;    
}
 a:hover {
  cursor:pointer;
 }
.headLogo {
  height:40px;
  width:40px;
  float: left;
  margin-right: 10px;
}
.imgLogo {
  height:40px;
  width:40px;
}

/*  Music Styles.............................................................. */
.wrapperMusic {
  height: 60px;
  width: 98%;
  float: left;
  margin: -1px 0 0 0px;
  border-bottom: 1px solid #ccc; 
  border-top: 1px solid #ccc;

}

.track-img {
  float: left;
  height: 60px;
  width: 60px;
}


.track-info {
  float: left;
  height: 60px;
  width: 90%;
  border-radius: 0 7px 10px 7px;
  /*background-color: #ffffff;*/
}

.track-text {
  height: 40px;
  width: 90%;
  float:left;
  position: relative;
}
.track-text-head {
  width: 80%;
  float:left;
}
.track-text-fav {
  width: 20%;
  float:left;
}

.track-text h1 {
  margin: 0 0 0 10px;
  padding-top: 5px;
  font-size: 13px;
  color: #474747;
  display: block;
}

.track-text h1,
.track-price-btn p {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.track-text h2 {
  margin: 0 0 5px 10px;
  font-size: 12px;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #696969;
}

.track-text p {
  height: 140px;
  margin: 8px 0 0 8px;
  font-family: 'Playfair Display', serif;
  color: #696969;
  line-height: 1.7em;
  font-size: 11px;
  font-weight: lighter;
  overflow: hidden;
}


.block2 {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    height: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    color: #696969;
}
.block2 span {
  top: 4px;
}
.ui-widget-content a {
    color: #337ab7 !important;
}
.ui-widget-header{
  border: none !important;
}